<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Shoping List</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {%block css%}
      <link rel="stylesheet" href="{{ STATIC_URL }}app/bower_components/html5-boilerplate/css/normalize.css">
      <link rel="stylesheet" href="{{ STATIC_URL }}app/bower_components/html5-boilerplate/css/main.css">
      <link href="{{ STATIC_URL }}freelancer/css/bootstrap.min.css" rel="stylesheet">
      <link href="{{ STATIC_URL }}freelancer/css/freelancer.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{{ STATIC_URL }}freelancer/font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

      <link rel="stylesheet" href="{{ STATIC_URL }}app/css/app.css"/>
  {% endblock %}

  {% block js %}
      <script src="{{ STATIC_URL }}app/bower_components/html5-boilerplate/js/vendor/modernizr-2.6.2.min.js"></script>
  {% endblock %}
</head>
<body>
{% block content %}

{% endblock %}
  <!-- BOOTSTRAP -->
  <script src="{{ STATIC_URL }}freelancer/js/jquery-1.11.0.js"></script>
  <script src="{{ STATIC_URL }}freelancer/js/bootstrap.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
  <script src="{{ STATIC_URL }}freelancer/js/classie.js"></script>
  <script src="{{ STATIC_URL }}freelancer/js/cbpAnimatedHeader.js"></script>
  <script src="{{ STATIC_URL }}freelancer/js/jqBootstrapValidation.js"></script>


  <!-- APP -->
  <script src="{{ STATIC_URL }}app/bower_components/angular/angular.js"></script>
  <script src="{{ STATIC_URL }}app/bower_components/angular-route/angular-route.js"></script>
  <script src="{{ STATIC_URL }}app/bower_components/angular-resource/angular-resource.js"></script>
  <script src="{{ STATIC_URL }}app/bower_components/angular-bootstrap/ui-bootstrap.js"></script>
  <script src="{{ STATIC_URL }}app/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
  <script src="{{ STATIC_URL }}app/js/app.js"></script>
  <script src="{{ STATIC_URL }}app/js/services.js"></script>
  <script src="{{ STATIC_URL }}app/js/controllers.js"></script>
  <script src="{{ STATIC_URL }}app/js/filters.js"></script>
  <script src="{{ STATIC_URL }}app/js/directives.js"></script>
  {% block extra_js %}{% endblock %}
</body>
</html>
